@model BackOffice.Models.IPersonalAreaDialog
@{
    Layout = null; var width = string.IsNullOrEmpty(Model.Width) ? "600px" : Model.Width;
}

<div class="well page active" style="margin: auto; width:@(width);"  onclick="event.stopPropagation()">

    @if (!string.IsNullOrEmpty(Model.Caption))
    {
        <table style="width: 100%">
            <tr>
                <td style="text-align: left;">
                    <h1 class="dialog-header">
                        @Model.Caption
                    </h1>
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <div class="btn" style="font-size: 15px;margin-top: -10px;margin-right: -10px;color: white;text-shadow: 0 0px 2px black;" onclick="ui.hideDialog()"><span class="glyphicon glyphicon-remove"></span></div>
                </td>
            </tr>
        </table>


    }

    @RenderBody()
</div>
