@using BackOffice.Translates
@model BackOffice.Models.IFindClientViewModel

@{
    var div = string.IsNullOrEmpty(Model.Div) ? "#foundClient" : Model.Div;
}

<div class="input-group">
    <form id="findClient">
        <input name="Phrase" type="text" class="form-control" placeholder="@Phrases.TypePhraseHere">
        <input style="display: none"/>
    </form>
    <span class="input-group-btn">
        <button class="btn btn-default btn-xs" type="button" style="padding: 8px;"
                onclick="requests.doRequest({ url: '@Model.RequestUrl', divResult: '@div', formId:'#findClient', showLoading: true })"><span class="glyphicon glyphicon-search hideOnRequest" aria-hidden="true"></span><img src="~/Images/processing-menu.gif" class="showOnRequest"/></button>
    </span>
</div>

