@model BackOffice.Areas.Clients.Models.ClientViewIndexVideModel

@{
    Layout = null;
}
<div style="width: 400px;">
@Html.Partial("PartialFindCleint", Model)
    
</div>


<div id="foundClient">
    
</div>