.btn-shadow {
    display: block;
    margin: 0 auto;
}

.showOnRequest {
    display: none;
}

.hideOnRequest {

}

.sideBar {
   width: 270px;
    overflow: hidden;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.6);
    background: #222;
    width: 270px;
    overflow: hidden;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.6);
    background: #222;
    box-shadow: 0 1px 5px black;
}

.sideBarLogo {
   text-align: center;
}

.sideBarLogo img {
    height: 50px;
}

.curIcon {
    height: 60px;
}

.sideBarItem {
        color: #c8c8c8;
    cursor: pointer;
    border-bottom: 1px #2d2d2d solid;
}



.sideBarItem:hover {
    background: #111;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.sideBar .active {
    background-image: linear-gradient(to bottom,#ea0000,#8e0000);
    box-shadow: inset rgba(0,0,0,1) 0 0 3px;
    border-bottom: solid 1px #494949;
    text-shadow: 0 0 5px black;
}
.sideBar .active:hover {
background-image: linear-gradient(to bottom,#f00000,#ad0000);
    
}
.sideBarDescription {
    padding-top: 8px;
    text-align: left; vertical-align: top;
}

.sideBarShdw {
    position: absolute;
    width: 20px;
    height: 460px;


}

#content {
    position: absolute;
    top: 0;
        background-image: url("/Images/ShadowRight.png");
    background-repeat: no-repeat;
    overflow-y: auto;
}

.panel-shdw {
    display: block;
}

.asset-panel {
    border-radius: 5px;
    background-color: white;
    width: 485px;
    height: 295px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

.asset-panel-heading {
border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 20px;
    color: #333;
    background-color: #f5f5f5;
    box-shadow: inset 0 -2px 2px rgba(128, 128, 128, 0.09);
}

.asset-icon {
    width: 64px;
    display: inline-block;
}

#modalBackground {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    top: 0;
}

.dialog-panel {

    box-shadow: 0 0 22px gray;
    margin: auto;
    border-radius: 5px;
    background: white;

}

.btn-transparent {
    background: none;
    border: none;
    color: #616161;
    text-shadow: 1px 1px 1px gray;
    font-size: 20px;
}


.asset-panel hr {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5PX;
    border-top: 1px solid #C3C3C3;
}

.top-order {
    background-image: url(/Images/shadow-in-250.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 90%;
}


.order-book {
    width: 232px;
    height: 240px;
    background: white;
    margin-top: 5px;
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: 0 2px 2px lightgray;
}

.lang-icon {
    width: 24px;
}