.header {
     background: -webkit-linear-gradient(left, #ff5722, magenta);
  background: -o-linear-gradient(right, #ff5722, magenta);
  background: -moz-linear-gradient(right, #ff5722, magenta);
     background: linear-gradient(to right, #ff5722, magenta);
    padding: 10px;
    box-shadow: 0 0 5px gray;
    color: #fff;
    font-size: 18px;
}

#msrtDtl {
    position: absolute;   
}

.lang-icon {
    width: 48px;
}

.panel-shdw {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.panel {
box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
}

.panel-heading {
    background-color: white !important;
}

.panel-body {
    padding: 0;
}

.panel-SignIn {
    width: 100%;
}


.btn-shadow {
    display: none;
}

.input-group {
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}


.input-group-addon {
        display: block;
    background: none;
    border: none;
    color: #444;
    font-size: 16px;
}

.form-control {
    margin: 10px 0;
    border: none;
    box-shadow: none;
    background: #E8E9EA;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}
.input-group:last-child {
        border: none;
}

.btn-block {
    width: 100%;
}

.mobile-content {
        padding: 15px;
            color: #53565D;
}

.mobile-header {
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
    margin-bottom: 10px;
}

.mobile-title {
    background-color: rgb(1, 119, 193);
    color: white;
    padding: 5px 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}

.mobile-title h2 {
    margin-top: 0;
}
.headerIcon {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: relative;
    background: white;
    top: -40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 555;
    margin-bottom: -70px;
}

.headerIcon .glyphicon {
    font-size: 38px;
    left: 11px;
    top: 10px;
}

.headerIcon img {
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.info-area {
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn {
    position: relative;
    display: inline-block;
margin: 10px auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}

.btn-lykke, .btn-lykke:focus, .btn-lykke:active, .btn-lykke:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7f02+0,f51031+51,f51031+51,bc16ff+100 */
background: #ff7f02; /* Old browsers */
background: -moz-linear-gradient(left,  #ff7f02 0%, #f51031 51%, #f51031 51%, #bc16ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff7f02 0%,#f51031 51%,#f51031 51%,#bc16ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff7f02 0%,#f51031 51%,#f51031 51%,#bc16ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f02', endColorstr='#bc16ff',GradientType=1 ); /* IE6-9 */
    color: white;

}

.title {
   text-transform: uppercase;
    text-align: center;
font-size: 16px;
    font-weight: bold;



}

.checked-pad {
    background: #B00EFF;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    color: white;
    font-size: 9px;
    padding-top: 6px;
}

.unchecked-pad {
    
        background: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    color: black;
    font-size: 9px;
    padding-top: 6px;
}



.the-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 16px;
    margin: 1px;
    background: #CBCCD0;
}

.current-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: -2px;
    background: #B00EFF;
}
.current-subdot {
        display: inline-block;
    width: 14px;
    height: 14px;
    background: #B00EFF;
    border-radius: 10px;
    border: solid 2px white;
    margin-top: 1px;
}

.reg-line {
    width: 100%;
    border-bottom: 1px solid #E8E5E5;
    margin-top: -13px;
}

.btn-success {
    border-color: #28a54c;
    background-color: #33cd5f;
    color: #fff;
}

.btn-default {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
}

#dialogPad {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2000;
}

#mainMenu {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2000;
}
.mnu {
        width: 230px;
    position: absolute;
    -webkit-box-shadow: black 0 0 3px;
    -ms-box-shadow: black 0 0 3px;
    box-shadow: black 0 0 3px;
    overflow-y: hidden;
    height: 100%;
    background: #222;
}

.menu-item {
    padding: 6px;
    border-bottom: 1px #2d2d2d solid;
    cursor: pointer;
    text-align: left;
}

.mnu-active {
    background: red;
}

.menu-item .img {
    height: 36px;
}

.menu-item .menu-title {
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-left: 5px;
}

.menu-item .menu-subtitle {
    font-size: 12px;
    color: #b8c6cc;
        padding-left: 5px;
}

.menu-item table tr td {
    vertical-align: top;
}

.list-view {
    
}

.list-view .list-item {


        border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.list-view .list-separator {
        padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
}


.list-view .icon {
    height: 24px;
    margin-right: 10px;
}